<template>
    <div class="flex-center">
        <p>Ты заблудился, такой страницы нет :)</p>
    </div>
</template>

<style scoped>
    div{
        width: 100%;
        height: 80%;
        text-align: center;
    }

    p{
        font-size: 25px;
    }
</style>