<script>
import axios from 'axios';
import Calendar from '../components/Calendar.vue';
import Stats from "./Stats.vue";
import Category from "../components/Category.vue"
import PopupDone from "../components/PopupDone.vue"
import useVuelidate from '@vuelidate/core'
import { required, numeric} from '@vuelidate/validators'

export default {
  components: { Calendar, Category, PopupDone },
    setup () {
        return { v$: useVuelidate() }
    },
    data(){
        return {
            cost: {
                nameInput: '',
                priceInput: '',
                categoryInput: '',
                dateInput: new Date()
            },
            btnDone: false
            
        }
    },
    validations () {
        return {
            cost:{
                nameInput: {required},
                priceInput: {required, numeric},
                categoryInput: {required},
                dateInput: {required}
            }
        }
    },
    methods: {
        handleCustomChangDone(value){
            this.btnDone = value
        },
        async submitForm(){
            let isFormCorrect = await this.v$.$validate()
            if (!isFormCorrect) {
            } else {
                this.cost.dateInput = this.cost.dateInput.toISOString().split('T')[0]
                this.btnDone = true
                console.log(this.cost);
                axios.post('http://89.223.68.62:85/api/addCost', {
                    "name": this.cost.nameInput,
                    "price": this.cost.priceInput,
                    "category_id": this.cost.categoryInput,
                    "date": this.cost.dateInput
                })
                .then((response) => {
                   
                })
                .catch((error) => {
                })
                this.cost = {
                    nameInput: '',
                    priceInput: '',
                    categoryInput: '',
                    dateInput: new Date()
                }
                this.v$.$reset()  
            }
        }
    }
}
</script>

<template>
<form @submit.prevent="someAction">
    <div class="add-cont">
            <div class="name">
                <p class="name-text">Название</p>
                <input type="text" class="name-inp" v-model="cost.nameInput" @blur="v$.cost.nameInput.$touch">
                <div v-if="v$.cost.nameInput.$error">некорректная запись</div>
            </div>
            <div class="price">
                <p class="price-text">Цена</p>
                <input type="number" class="price-inp" v-model="cost.priceInput" @blur="v$.cost.priceInput.$touch">
                <div v-if="v$.cost.priceInput.$error">некорректная запись</div>
            </div>
            <div class="category">
                <p class="category-text">Категория</p>
                    <Category :cost = "cost" @blur="v$.cost.categoryInput.$touch"/>
                    <div v-if="v$.cost.categoryInput.$error">некорректная запись</div>
            </div>
                <div class="date">
                    <p class="date-text">Дата</p>
                    <calendar v-model="cost.dateInput"  class="date-inp cal-style" @blur="v$.cost.dateInput.$touch"/>
                    <div v-if="v$.cost.dateInput.$error">некорректная запись</div>
                </div>
                <button @click.prevent="submitForm" class="btn-add flex-center" type="submit">
                    <p class="btn-text">ДОБАВИТЬ</p>
                </button>
            </div>
        </form>
        
        <transition name="fade">
            <PopupDone v-if="btnDone" @doneBtn='handleCustomChangDone($event)'/>
        </transition>
</template>

<style scoped>

form{
    width: 100%;
    height: 78%;
}

option{
    color: grey;
}
.dp__main{
    box-sizing: content-box;
}
.date-inp{
    padding: 0;
    background: none;
}
.dp__input{
    border-radius: 10px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
</style>
<!-- <style lang="scss" scoped>
@import '@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss';
$dp__font_family: 'Montserrat', sans-serif;
</style> -->