<script>
import axios from 'axios'
import PopupAdd from '../components/PopupAdd.vue'
import PopupSet from '../components/PopupSet.vue'

export default {
    components: { PopupAdd, PopupSet },
    
    data() {
        return {
            showAdd: false,
            showSet: false,
            budget: 0
        }
    },
    mounted(){
        axios.get('http://89.223.68.62:85/api/getBudget')
            .then(response => (
                this.budget = response.data.budget
            ))
    },
    methods: {
        handleCustomChangeAdd (value) {
            this.showAdd = value.popupAdd
            this.budget = value.budget
        }, 
        handleCustomChangeSet (value) {
            this.showSet = value.popupSet
            this.budget = value.budget
        }
    }
}
</script>

<template>
    <div class="txt-info">
        <div class="block">
            <h2 class="info-text">Осталось:</h2>
            <h3>{{budget}}₽</h3>
        </div>
        <div class="block">
            <button @click="showAdd = !showAdd" class="show-period btn-js show-text flex-center">
                ДОБАВИТЬ
            </button>
            <button @click="showSet = !showSet" class="show-period btn-js show-text flex-center">
                УКАЗАТЬ
            </button>
        </div>
            <transition name="fade">
                <PopupAdd v-if="showAdd" :budget="this.budget" @addPop='handleCustomChangeAdd($event)'/>
            </transition>

            <transition name="fade">
                <PopupSet v-if="showSet" :budget="this.budget" @setPop='handleCustomChangeSet($event)'/>
            </transition>
        </div>
        
</template>

<style scoped>
h2{
    font-size: 30px;
}
h3{
    font-size: 60px;
}
input{
    height: 15%;
}
form{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
button{
    height: 30%;
}
.block{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.fa-xmark{
    width: 40px;
    height: 40px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
</style>