<script>
import { el } from 'date-fns/locale';
import axios from 'axios';


function groupBy(array, key){
  let result = {}
  array.forEach(item => {
    if (!result[item[key]]){
        result[item[key]] = {}
        result[item[key]].data = []
        
    }
    result[item[key]].expanded = false
    result[item[key]].data.push(item)
  })
  return result
  
}
export default {
  name: "App",
  data() {
    return {
        statsItem: [],
        sumTotal: 0
    };
  },
  
  computed:{
    groups: {
            get(){
              let items = groupBy(this.statsItem, 'date')
              items = this.costCount(items) 
              return items
            },
            
        },
        
    },
    mounted(){
      let statsObj = {
        from: this.$route.query.from,
        to: this.$route.query.to, 
        category: this.$route.query.category
      }
      axios.get(`http://89.223.68.62:85/api/getCosts?from=${statsObj.from}&to=${statsObj.to}&category_id=${statsObj.category}`)
            .then(response => {
                this.statsItem = response.data
                this.statsItem.forEach(element => {
                  this.sumTotal += element.price;
                });
              })
    },
    methods: {
      open: function (event) {            
        event.target.classList.toggle('active');
      },
        costCount: function (statsItem){
          for (const key in statsItem) {
            let everyDate = statsItem[key];
            let sum = 0;
            everyDate.data.forEach(el => {
              sum += el.price
            });
            everyDate.sum = sum
          }
          return statsItem
        }
      },   
};
  

</script>

<template>
    <div class="table">
      <div v-for="(group, index) in groups" :key="index">
        <div class="title"  @click="open">
        <div>
          <p style="font-size: 28px">{{ index }}</p>
        </div>
        <div>
          <p>{{group.sum}}p</p>
        </div>
      </div>
      <div class="description" >
          <div class="description-title">
              <p class="description-text">Название</p>
              <p class="description-text">Сумма</p>
              <p class="description-text">Категория</p>
          </div>
          <div class="description-subtitle" v-for="item in group.data" :key="item.id">
              <p class="description-text">{{ item.name }}</p>
              <p class="description-text">{{ item.price }} р.</p>
              <p class="description-text">{{ item.categories.name }}</p>
          </div>
      </div>
    </div>
  </div>
  <div class="total flex-center">
    <p>Всего: {{sumTotal}}р.</p>
  </div>
</template>

<style scoped>
p, b, div{
    font-size: 13px;
}
.table{
    height: 74%;
    overflow-y: auto;
}
.table::-webkit-scrollbar {
    width: 0px;
}
.title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
  background: none;
  padding: 15px;
  border-bottom: 1px rgb(100%, 100%, 100%, .7) solid;
}

.description-title,
.description-subtitle{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: flex-start;
    padding: 15px;
}
.description{
  display: none;
}
.title.active + .description{
   display: block;
}

.description-title{
    border-bottom: 1px rgb(100%, 100%, 100%, .3) solid;
}

.description-text{
    padding-top: 10px;
}

.total{
  height: 5%;
  border-top: 1px rgb(100%, 100%, 100%, .7) solid;
}
.total p{
  font-size: 20px;
}
</style>