<script>
// import IconDel from "./components/icons/IconDel.vue";
    import AddCost from "./AddCost.vue";
import CalendarRange from '../components/CalendarRange.vue';
import Category from "../components/Category.vue";
import useVuelidate from '@vuelidate/core'
import { required, numeric} from '@vuelidate/validators'
import { RouterLink } from 'vue-router';

export default{
  components: { CalendarRange, Category },
    setup () {
        return { v$: useVuelidate() }
    },
    data(){
        return{
            wiewCost: {
                from: '',
                to: '',
                categoryInput: ''
            },
            dateRange:[
                new Date(),
                new Date()
            ],
            
        }
    },
    validations(){
        return{
            wiewCost:{
                categoryInput: {required}
            }        
        }
    },
    methods: {
        async wiewTable(){
            let isFormCorrect = await this.v$.$validate()
            if (isFormCorrect) {
                this.wiewCost.from = this.dateRange[0].toISOString().split('T')[0],
                this.wiewCost.to = this.dateRange[1].toISOString().split('T')[0],
                this.$router.push(`/stats-table?from=${this.wiewCost.from}&to=${this.wiewCost.to}&category=${this.wiewCost.categoryInput}`)
                
            } else {
                return false
            }
        },
        
    }
}
</script>

<template>
         <div class="stats-cont">
            <div class="data-stats">
                <p class="text-stats">Выберите период</p>
                <div class="cal-style"><calendar-range v-model="dateRange"/></div>
            </div>
            <div class="category-stats">
                <p class="text-stats">Выберите категорию</p>
                <div class="btn-group flex-center">
                    <Category :cost = "wiewCost" v-model="wiewCost.categoryInput" @blur="v$.wiewCost.categoryInput.$touch"/>
                    <div v-if="v$.wiewCost.categoryInput.$error">некорректная запись</div>
                </div>
            </div>
            <a to='/stats-table' class="btn-stats flex-center" @click="wiewTable">
                <div>
                    <p class="btn-text">Показать</p>
                </div>
            </a>
        </div>
 </template>

 <style scoped>
    svg{
        height: 50px;
    }
    .cal-style{
        width: 80%;
    }
 </style>

