
<template>
    <Datepicker v-model="date" locale="ru" autoApply :enableTimePicker="false" :format="format" showNowButton></Datepicker>
</template>

<script>
    import Datepicker from '@vuepic/vue-datepicker';
    import '@vuepic/vue-datepicker/dist/main.css'
    import { ref } from 'vue';
    import moment from 'moment';

    export default {
        components: { Datepicker },
        
        data() {
            let date = ref(new Date().toISOString('ru').split('T')[0]);
            
            const format = 'dd/MM/yyyy'
            return {
                date,
                format
            }
        }
        
    }
</script>