<template>
    <Datepicker v-model="date" locale="ru" range autoApply :enableTimePicker="false" :format="format" showNowButton/>
</template>

<script>
import { ref, onMounted } from 'vue';

export default {
    setup() {
        const date = ref();

        // For demo purposes assign range from the current date
        onMounted(() => {
            const startDate = new Date();
            const endDate = new Date(new Date().setDate(startDate.getDate() + 7));
            date.value = [startDate, endDate];
        }) 

        // const format = (date) => {
        //     const day = date.getDate();
        //     const month = date.getMonth() + 1;
        //     const year = date.getFullYear();

        //     return `Selected date is ${day}/${month}/${year}`;
        // }
        const format = 'dd/MM/yyyy'
        return {
            date,
            format
        }
    }
}
</script>