<script>
import { onMounted } from 'vue'
import axios from 'axios'

    export default{
        props: ['cost'],
        // setup() {
        //     // mounted
        //     onMounted(() => {
                
        //     })
        // },
        data(){
            return{
                info: []
            }
        },
        mounted(){
            axios.get('http://89.223.68.62:85/api/getCategories')
                .then(response => (
                        this.info = response.data
                    ))
                
        }
        
    }
</script>


<template>
    <select v-model="cost.categoryInput" class="btn btn-secondary dropdown-toggle btn-grey right">
        <option disabled selected value="">---</option>
        <option value="0" v-if="$route.path.includes('/stats')">Все</option>
        <option v-for="item in info" :key="item.id" v-bind:value="item.id">{{item.name}}</option>
    </select>
</template>