<template>
    <div class="flex-center">
        <p class="text-back">На главную</p>
    </div>
</template>
<style scoped>
a{
    width: 100%;
    text-decoration: none;
}


.text-back{
    font-size: 20px;
}

</style>