<script>
import axios from 'axios'
import useVuelidate from '@vuelidate/core'
import { required } from '@vuelidate/validators'

export default{
    setup () {
        return { v$: useVuelidate() }
    },
    props: {
        budget: Number
    },
    data() {
        return {
            showAdd: false,
            inputAdd: ''
        }
    },
    validations () {
        return {
            inputAdd: {required}
        }
    },
    // mounted(){
        
    // },
    methods: {
        closePopup(){
            this.addPop({
                popupSet: false,
                budget: this.budget 
            })
        },
        addPop(newBudget){
            this.$emit('addPop', newBudget)
        },
        async submitFormAdd(){
            let formCorrect = await this.v$.$validate()
            if (!formCorrect) {
            } else {
                // this.inputAdd = this.inputAddDefaultState;
                
                axios.post('http://89.223.68.62:85/api/addBudget', {
                    budget: this.inputAdd
                })
                .then((response) => {
                    let emitObjAdd = {
                        popupAdd: false,
                        budget: response.data
                    }
                    this.addPop(emitObjAdd)
                })
                .catch((error) => {
                })
            }
        },
        
        
    }
}
</script>

<template>
    <div class="popup">
        <div class="popup-container flex-center">
            <button @click="closePopup" class="btn-show">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <form @submit.prevent="someAction">
                <p>Сколько денег заработал?</p>
                <input type="text" class="name-inp" v-model="inputAdd" @blur="v$.inputAdd.$touch">
                <div v-if="v$.inputAdd.$error">некорректная запись</div>
                <button @click.prevent="submitFormAdd" class="show-period btn-js show-text flex-center">
                    ДОБАВИТЬ
                </button>
            </form>
        </div>
    </div>
</template>

<style scoped>
.popup{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}
.popup-container{
    background: rgb(89,119,150);
    width: 80%;
    height: 40%;
    border-radius: 30px;
    border: 1px #fff solid;
}
.btn-show{
    position: absolute;
    top: 31%;
    right: 14%;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}
input{
    height: 15%;
}
form{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.fa-xmark{
    width: 40px;
    height: 40px;
}
</style>