<script>
export default{
    data() {
        return {
            btnDone: true
        }
    },
    methods:{
        doneBtn(){
            this.$emit('doneBtn', false );
        }
    }
}
</script>

<template>
    <div class="popup" >
        <div class="popup-container">
            <p>Трата добавлена. Чево хочешь?</p>
            <button @click="doneBtn()" class="show-period btn-js show-text flex-center"><p>ДОБАВИТЬ ЕЩЕ</p></button>
            <RouterLink to="/" class="show-period btn-js show-text flex-center"><p>ГЛАВНОЕ МЕНЮ</p></RouterLink>
        </div>
    </div>
</template>

<style scoped>

.popup{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}
.popup-container{
    background: rgb(89,119,150);
    width: 80%;
    height: 35%;
    border-radius: 30px;
    border: 1px #fff solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.btn-show{
    position: absolute;
    top: 26%;
    right: 12%;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}
p{
    font-size: 18px;
}

</style>