<script>
import useVuelidate from '@vuelidate/core'
import { required } from '@vuelidate/validators'
import axios from 'axios'
import HomeViewVue from '../views/HomeView.vue'

export default{
    // components: { HomeViewVue },
    setup () {
        return { v$: useVuelidate() }
    },
    props: {
        budget: Number
    },
    data() {
        return {
            inputSet: ''
        }
    },
    validations () {
        return {
            inputSet: {required}
        }
    },
    methods: {
        closePopup(){
            this.setPop({
                popupSet: false,
                budget: this.budget 
            })
        },
        setPop(setBudget){
            this.$emit('setPop', setBudget);
        },
        async submitFormSet(){
            let formCorrect = await this.v$.$validate()
            if (!formCorrect) {
            } else {
                // this.inputAdd = this.inputAddDefaultState;
                axios.post('http://89.223.68.62:85/api/setBudget', {
                    budget: this.inputSet
                })
                .then((response) => {
                    let emitObjSet = {
                        popupSet: false,
                        budget: response.data
                    }
                    this.setPop(emitObjSet)
                })
                .catch((error) => {
                })
            }
        },
        
    }
}
</script>

<template>
   <div class="popup">
        <div class="popup-container flex-center">
            <button @click="closePopup" class="btn-show">
                <i class="fa-solid fa-xmark" ></i>
            </button>
            <form @submit.prevent="someAction">
                <p>Потерялся в деньгах? Ну записывай</p>
                <input type="number" class="name-inp" v-model="inputSet" @blur="v$.inputSet.$touch">
                <div v-if="v$.inputSet.$error">некорректная запись</div>
                <button @click.prevent="submitFormSet" class="show-period btn-js show-text flex-center">
                    УКАЗАТЬ
                </button>
            </form>
        </div>
    </div>
</template>

<style scoped>
.popup{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}
.popup-container{
    background: rgb(89,119,150);
    width: 80%;
    height: 40%;
    border-radius: 30px;
    border: 1px #fff solid;
}
.btn-show{
    position: absolute;
    top: 31%;
    right: 14%;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}
input{
    height: 15%;
}
form{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
.fa-xmark{
    width: 40px;
    height: 40px;
}

</style>