@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body {
    width: 100%;
    height: 100%;
    /* background: url(back.png); */
    background-position: center;
    background-size: cover;
}
a{
    text-decoration: none;
}
p, h1, h2, span, select, option, input, div, button{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 300;
}
p {
    margin: 0;
}

input, select, option {
    outline: none;
    border: 1px #fff solid;
    background: none;
}
option{
    background: rgb(7%, 24%, 41%, .7);;
    /* color: #111; */
}
input:focus{
    background: rgb(7%, 24%, 41%, .3);
}
input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
td {
    padding: .5rem .5rem;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons {
    height: 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: auto;
    z-index: 100;
    border-bottom: 1px #fff solid;
}

.btn-left,
.btn-right {
    width: 50%;
    background: none;
    height: 100%;
    transition: all 0.5s ease;
}
.btn-left{
    border-right: 1px #fff solid;
}
.btn-left:hover,
.btn-right:hover,
.show-period:hover,
.back:hover,
.btn-add:hover,
.btn-stats:hover{
    background: rgb(7%, 24%, 41%, .3);
}

.txt-info {
    font-size: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 89%;
    justify-content: space-evenly;
}
/* 
.txt-info {
    margin-top: 30%;
} */

.info-text {
    margin: 10px;
}

.show-period{
    height: 15%;
}
.btn-add,
.btn-stats{
    height: 10%;
}
.show-period,
.btn-add,
.btn-stats {
    width: 80%;
    border: 1px #fff solid;
    background: none;
    border-radius: 60px;
    transition: all 0.5s ease;
    font-size: 28px;
}



.arrow-size {
    fill: #c4d0e1;
    width: 50px;
    height: 50px;
}

.name-text,
.price-text,
.category-text,
.date-text {
    font-size: 25px;
}

.name,
.price,
.category,
.date{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 12%;
}

.name-inp,
.price-inp {
    width: 80%;
    height: 40%;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 1%;
    padding: 10px;
}

.category-inp {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    background: #343a40;
    color: #c4d0e1;
    height: 20%;
    border-radius: 10px;
    padding: 15px;
    margin-top: 1%;
}

.date-inp {
    width: 80%;
    height: 40%;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 1%;
    padding: 10px;
    background: white;
}


.btn-text {
    font-size: 20px;
}

.add-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}

.add-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    position: relative;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none;
}

.stats-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 78%;
}

.data-stats,
.category-stats {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    height: 20%;
}

.text-stats {
    font-size: 25px;
}

.inp-stats {
    width: 80%;
    height: 25%;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 20px;
    margin-top: 1%;
    padding: 10px;
    background: white;
}

.result {
    font-size: 20px;
    width: 100%;
    position: relative;
    top: 10%;
    display: block;
    height: 100%;
    display: none;
}

.res-table {
    width: 124%;
}

.result-title,
.res-cost,
.res-name,
.res-cat,
.res-date,
.res-del {
    border-bottom: 1px solid #343a40;
    border-top: 0;
}

.result-subtitle {
    border-bottom: 1px solid #343a40;
}

.sub-del {
    width: 55px;
    height: 55px;
    position: relative;
    margin-left: 20%;
}

.btn-group{
    width: 100%;
    flex-direction: column;
}
.btn-grey {
    width: 80%;
    border-radius: 30px;
    box-shadow: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 40px;
    padding: 0px 10px;
}

.dropdown-menu {
    width: 80%;
}

.dropdown-item {
    height: 20%;
    font-size: 20px;
}

.result-cost {
    box-shadow: 0 0 5px black;
    position: fixed;
    width: 100%;
    background: #c9d7e6;
    z-index: 100;
}

.res-title {
    padding: .5rem;
}

.result-container {
    position: relative;
}

/* calendar */
.cal-style input{
    background: none;
    border-radius: 30px;
    color: #fff;
    fill: #fff;
    font-family: 'Montserrat', sans-serif;
}
.dp__icon{
    fill: #fff !important;
}
.dp__instance_calendar,
.dp__now_wrap{
    background-color: rgb(7%, 24%, 41%, .7);
}
.dp__today{
    border: 1px #fff solid !important;
}
.dp__range_end, .dp__range_start, .dp__active_date {
    background: #fff !important;
    color: #111 !important;
}
.dp__range_between {
    background: rgb(100%, 100%, 100%, .1)  !important;
}
.dp__now_button {
    border: 1px solid #fff !important;
    color: #fff !important;
}