<script>
import IconBack from './components/IconBack.vue'
import { useRoute } from 'vue-router';
import { computed } from "vue";
export default {
    components: {IconBack},
    // setup () {
        
    //     return path
    // },
    data(){
        return{
            isMainPage: true
        }
    },
    mounted() {
        const route=useRoute();

        const path = computed(() =>route.name)
        
    },
    watch:{
        $route (to, from){
            if (to.name !== 'home') {
                this.isMainPage = false
            } else{
                this.isMainPage = true
            }
        }
    }
}
</script>


<template>
    <div class="buttons">
        <RouterLink to="/stats" class="btn-left flex-center"><p class="btn-text">СТАТИСТИКА</p></RouterLink>
        <RouterLink to="/add" class="btn-right flex-center" ><p class="btn-text">ДОБАВИТЬ</p></RouterLink>
    </div>

    <HomeView/>
    <RouterView/>

    <nav class="back flex-center" v-if="!isMainPage">
        <RouterLink to="/" ><IconBack/></RouterLink>
    </nav>
</template>

<style>
    @import '@/assets/normalize.css';
    @import '@/assets/style.css';
    #app{
        width: 100%;
        height: 100%;
        min-height: 640px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

   body::before{
        content: '';
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background: linear-gradient(45deg, rgb(237, 199, 183), rgb(18, 60, 105));;
        filter: blur(1px);
    }

    .back {
        width: 100%;
        z-index: 50;
        background: none;
        position: relative;
        bottom: 0;
        left: 0;
        height: 78px;
        border-top: 1px #fff solid;
        transition: all .5s ease;
    }

</style>